
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/res/values/secret_utils.xml
.idea
QuiCAR.iml
app/app.iml

# node modules
node_modules/

# npm debug log
npm-debug.log

# config
config/config.json
config/config.cfg
config/ads.json

